
<div class="container mt-5">
  <div>
    <br/>
    <br/>
    <h1>My Dashboard</h1>
    <h2>Bookings for <%= current_user.email %></h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Game Title</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Total Price</th>
          </tr>
        </thead>
        <tbody>
          <% @bookings.each do |booking| %>
            <tr>
              <td><%= booking.game.title %></td>
              <td><%= booking.start_date %></td>
              <td><%= booking.end_date %></td>
              <td><%= booking.total_price %></td>

            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div>
  <br>
  <div>
    <h2>Bookings Received</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>Game</th>
              <th>Name</th>
              <th>Username</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Total Price</th>
              <th>Accept</th>
            </tr>
          </thead>
          <tbody>
          <% @my_bookings_received.each do |booking| %>
            <tr>
              <td><%= booking.game.title %></td>
              <td><%= "#{booking.user.first_name} #{booking.user.last_name}"%></td>
              <td><%= booking.user.email%></td>
              <td><%= booking.start_date %></td>
              <td><%= booking.end_date %></td>
              <td><%= booking.total_price %></td>
              <td><input type="checkbox" name="question" value="14" class="clickable" id="2"/></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>
