<h1>Games</h1>
<%= link_to 'Homepage', root_path %>
<%= link_to "New game", new_game_path %>
<ul>
  <% @games.each do |game| %>
    <li>
      <h2><%= link_to game.title, game_path(game) %></h2>
      <p><%= game.description %></p>
      <p><%= game.price %></p>
      <p><%= game.category %></p>
    </li>
  <% end %>
</ul>
