<h1><%= @game.title %></h1>
<p><%= @game.description %></p>
<p><%= @game.price %></p>
<p><%= @game.category %></p>
<%= link_to "Edit", edit_game_path(@game) %>
<%= link_to "Delete", game_path(@game), data: { turbo_method: :delete } %>
<%= link_to "Back", games_path %>
