<%= link_to '<i class="fa-solid fa-arrow-left-long"></i> back'.html_safe, :back, class: 'ms-5 mt-3 back' %>

  <div class="showgrid-game">
    <%= cl_image_tag @game.photo.key, class: "img-style" %>
    <div class="show-details container">
      <h1 class="title"><%= @game.title %></h1>
      <p><strong>Owner:</strong> <%= @game.user.first_name %></p>
      <p><strong>Description:</strong> <%= @game.description %></p>
      <p><strong>Price: €</strong><%= @game.price %>/hour</p>
      <p><strong>Category:</strong> <%= @game.category %></p>

      <% if !policy(@game).edit? %>
        <%= link_to "Book it!", new_game_booking_path(@game), class: 'btn btn-primary book' %>
      <% end %>

      <div class="btn-line">
        <% if policy(@game).edit? %>
          <%= link_to '<i class="fa-solid fa-pen"></i>'.html_safe, edit_game_path(@game), class: 'me-5' %>
        <% end %>
        <% if policy(@game).destroy? %>
          <%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, game_path(@game), data: { turbo_method: :delete }, class: 'me-5' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="showgrid-map">
    <div style="width: 100%; height: 500px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>", class='map'>
    </div>
  </div>

  <div class="showgrid-reviews">
    <div id="reviews" class="mt-5">
      <h2 class="mt-5 ps-3"><%= 'Reviews' %></h2>

      <% @game.reviews.each do |review| %>
        <div class="mb-3 mt-3 ms-2 me-2 rounded review-card">
          <p class="m-0 d-flex justify-content-between align-items-center pb-2 border-bottom">
            <span class="ps-2 pt-2">
              <%= current_user.photo.attached? ? cl_image_tag(current_user.photo.key, class: "avatar", alt: "dropdown menu") : image_tag('https://st3.depositphotos.com/4111759/13425/v/450/depositphotos_134255626-stock-illustration-avatar-male-profile-gray-person.jpg', class: "avatar") %>
              <%= current_user.first_name %> <%= current_user.last_name %>
            </span>
            <span class="me-3 pt-2">
              <% if policy(review).destroy? %>
                <%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, review_path(review), data: { turbo_method: :delete } %>
              <% end %>
            </span>
          </p>
          <p class="m-0 mt-2 ps-2">
            <% review.rating.times do %>
              <i class="fa-solid fa-star"></i>
            <% end %>
            <% (5 - review.rating).times do %>
              <i class="fa-solid fa-star empty-star"></i>
            <% end %>
          </p>
          <p class="m-0 mt-2 ps-2 pb-1"><%= review.comment %></p>
        </div>
      <% end %>
    </div>

    <%= render 'reviews/new', game: @game, review: @review %>

  </div>
